* 
    margin: 0
    padding: 0
    box-sizing: border-box

=flexCenter()
    display: flex
    justify-content: center 
    align-items: center 
    flex-wrap: wrap 

$yellow: #ebbd34
$yellowHover: #e6ac02
$dark: #2b2a26

body 
    min-height: 100vh
    overflow-x: hidden
    font-family: 'Be Vietnam', sans-serif
    color: $dark
    button 
        position: relative
        padding: 10px
        transition: .2s linear
        border: none
        color: $dark
        font-size: 1.2rem
        font-weight: bold
        letter-spacing: 2px
        text-transform: uppercase
        cursor: pointer
        background-color: $yellow
        z-index: 1
        overflow-y: hidden
        // outline: none
        outline-color: $dark
        span    
            position: absolute 
            top: 0 
            left: 0 
            width: 100% 
            height: 100% 
            background-color: $dark
            z-index: -1
            transform: translateY(100%)
            transition: .2s
        &:focus 
            // box-shadow: 0 0 0 3px $dark
        @media (min-width: 900px)
            &:hover 
                color: $yellow 
                span 
                    transform: none
    
.preloader
    position: fixed
    width: 100vw 
    height: 100vh
    top: 0 
    left: 0
    background-color: #fff 
    z-index: 2
    animation: fadeOut 1s linear forwards 2.5s
    @media (max-width: 900px)
        animation: none 
        display: none
    @keyframes fadeOut 
        99%
            opacity: 0 
        100% 
            opacity: 0
            display: none 
            visibility: hidden 
            
    

.nav 
    width: 100vw
    position: relative
    +flexCenter()
    background-color: $yellow
    transition: .2s linear
    @media (max-width: 900px) 
        width: 50vw
        height: 100vh
        padding: 0 10px 10px 10px
        transform: translateX(-103%)
        z-index: 2
    @media (orientation: portrait)
        width: 80vw
    .logo 
        position: relative
        top: 0
        left: 0
        +flexCenter()
        width: 30%
        margin: 10px 0
        font-size: 3rem
        text-align: center
        font-weight: bold
        letter-spacing: 5px
        transition: 1s linear
        transform: scale(2) translate(calc(25vw - 50%), calc(25vh - 50%))
        animation: logo 1s linear forwards 2.5s
        z-index: 13
        @keyframes logo 
            100% 
                transform: none  
        @media (max-width: 900px) 
            transform: none
            animation: none
            width: 100%    
            font-size: 2rem
        .fa-tools 
            margin-right: 15px
            color: $yellow 
            text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black
            opacity: 0
            animation: fadeIn 1s linear forwards 
            @keyframes fadeIn 
                100% 
                    opacity: 1
        .letter 
            transform: translateY(-70vh)
            animation: fallDown 1s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards 
            @keyframes fallDown 
                100% 
                    transform: none
        .letter1 
            animation-delay: .2s
        .letter2 
            animation-delay: .3s
        .letter3 
            animation-delay: .4s
        .letter4 
            animation-delay: .5s
        .letter5 
            animation-delay: .6s
        .letter6 
            animation-delay: .7s
        .letter7 
            animation-delay: .8s
    .navBtn 
        align-self: flex-end
        margin: 0 5px
        padding: 20px 10px
        border-radius: 4px
        @media (max-width: 900px) 
            width: 50%
            margin: 0
            padding: 10px
        @media (orientation: portrait)
            width: 100%
    .navBtn.active 
        background-color: $dark 
        color: $yellow
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
    .hamburger 
        position: absolute 
        top: 10px 
        right: - 55px
        width: 50px
        height: 50px
        background-color: transparent 
        font-size: 2rem
        .fa-times, .fa-bars 
            position: absolute
            top: 50% 
            left: 50% 
            transition: .3s linear 
        .fa-times 
            transform: translate(-50%,-50%) scale(0)
        .fa-bars 
            transform: translate(-50%,-50%) scale(1)
.nav.active 
    transform: none
    .hamburger 
        .fa-bars 
            transform: translate(-50%,-50%) scale(0)
        .fa-times 
            transform: translate(-50%,-50%) scale(1)

        
.main 
    position: absolute
    top: 0
    left: 0
    padding: 10px
    width: 100vw 
    min-height: 100vh
    +flexCenter()
    .mainSection 
        position: absolute
        top: 0
        left: 0
        width: 100vw
        min-height: 100vh
        +flexCenter()
        opacity: 0
        visibility: hidden
    .mainSection.active
        visibility: visible
        animation: appear .6s linear forwards 
        @keyframes appear 
            100% 
                opacity: 1
    .mainSection.disappear 
        opacity: 1
        animation: disappear .6s linear forwards 
        @keyframes disappear
            100% 
                opacity: 0




@import 'preloader'
@import 'nav'