@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scrollbar-track-color: #ebbd34;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  font-family: 'Be Vietnam', sans-serif;
  color: #2b2a26;
  background-color: #2b2a26;
}

body button {
  position: relative;
  padding: 10px;
  -webkit-transition: .2s linear;
  transition: .2s linear;
  border: none;
  color: #2b2a26;
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #ebbd34;
  z-index: 1;
  overflow: hidden;
  outline-color: #2b2a26;
}

body button span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2b2a26;
  z-index: -1;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: .2s;
  transition: .2s;
}

@media (min-width: 900px) {
  body button:hover {
    color: #ebbd34;
  }
  body button:hover span {
    -webkit-transform: none;
            transform: none;
  }
}

body.light {
  background-color: #fff;
}

.preloader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #ebbd34;
  z-index: 2;
  -webkit-animation: fadeOut 1s linear forwards 2.5s;
          animation: fadeOut 1s linear forwards 2.5s;
}

@media (max-width: 900px) {
  .preloader {
    -webkit-animation: none;
            animation: none;
    display: none;
  }
}

@-webkit-keyframes fadeOut {
  99% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    display: none;
    visibility: hidden;
  }
}

@keyframes fadeOut {
  99% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    display: none;
    visibility: hidden;
  }
}

.toggleTheme {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  font-size: 2rem;
  border-radius: 4px;
  background-color: transparent;
}

@media (min-width: 1024px) {
  .toggleTheme {
    top: 25px;
  }
  .toggleTheme:hover {
    color: #2b2a26;
  }
}

@media (max-width: 1024px) {
  .toggleTheme {
    color: #ebbd34;
    background-color: rgba(43, 42, 38, 0.9);
  }
  .toggleTheme:hover {
    color: #ebbd34;
  }
}

.toggleTheme .fas {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.nav {
  width: 100vw;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #ebbd34;
  -webkit-transition: .2s linear;
  transition: .2s linear;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

@media (max-width: 900px) {
  .nav {
    width: 60vw;
    height: 100vh;
    padding: 0 10px 10px 10px;
    -webkit-transform: translateX(-107%);
            transform: translateX(-107%);
    z-index: 2;
  }
}

@media (orientation: portrait) {
  .nav {
    -ms-flex-line-pack: center;
        align-content: center;
    width: 80vw;
  }
}

.nav .logo {
  position: relative;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 30%;
  margin: 10px 0;
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
  letter-spacing: 5px;
  -webkit-transition: 1s linear;
  transition: 1s linear;
  -webkit-transform: scale(2) translate(calc(25vw - 50%), calc(25vh - 50%));
          transform: scale(2) translate(calc(25vw - 50%), calc(25vh - 50%));
  -webkit-animation: logo 1s linear forwards 2.5s;
          animation: logo 1s linear forwards 2.5s;
  z-index: 13;
}

@-webkit-keyframes logo {
  100% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes logo {
  100% {
    -webkit-transform: none;
            transform: none;
  }
}

@media (max-width: 900px) {
  .nav .logo {
    -webkit-transform: none;
            transform: none;
    -webkit-animation: none;
            animation: none;
    width: 100%;
    font-size: 2rem;
  }
}

@media (orientation: portrait) {
  .nav .logo {
    margin-bottom: 35px;
  }
}

.nav .logo .fa-tools {
  margin-right: 15px;
  color: #ebbd34;
  text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
  opacity: 0;
  -webkit-animation: fadeIn 1s linear forwards;
          animation: fadeIn 1s linear forwards;
}

@-webkit-keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

.nav .logo .letter {
  -webkit-transform: translateY(-70vh);
          transform: translateY(-70vh);
  -webkit-animation: fallDown 1s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
          animation: fallDown 1s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
}

@-webkit-keyframes fallDown {
  100% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fallDown {
  100% {
    -webkit-transform: none;
            transform: none;
  }
}

.nav .logo .letter1 {
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
}

.nav .logo .letter2 {
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
}

.nav .logo .letter3 {
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}

.nav .logo .letter4 {
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

.nav .logo .letter5 {
  -webkit-animation-delay: .6s;
          animation-delay: .6s;
}

.nav .logo .letter6 {
  -webkit-animation-delay: .7s;
          animation-delay: .7s;
}

.nav .logo .letter7 {
  -webkit-animation-delay: .8s;
          animation-delay: .8s;
}

.nav .navBtn {
  margin: 0 5px;
  padding: 20px 10px;
  border-radius: 4px;
  overflow: hidden;
}

@media (max-width: 900px) {
  .nav .navBtn {
    width: 45%;
    padding: 10px;
  }
}

@media (orientation: portrait) {
  .nav .navBtn {
    width: 100%;
    margin: 10px 0;
  }
}

.nav .navBtn.active {
  background-color: #2b2a26;
  color: #ebbd34;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

@media (max-width: 900px) {
  .nav .navBtn.active {
    z-index: 2;
  }
}

.nav .hamburger {
  position: absolute;
  top: 10px;
  right: -70px;
  width: 40px;
  height: 40px;
  background-color: rgba(43, 42, 38, 0.9);
  border-radius: 4px;
  font-size: 2rem;
  color: #ebbd34;
}

.nav .hamburger .fa-times, .nav .hamburger .fa-bars {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.nav .hamburger .fa-times {
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
}

.nav .hamburger .fa-bars {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.nav.active {
  -webkit-transform: none;
          transform: none;
}

.nav.active .hamburger {
  right: -55px;
}

.nav.active .hamburger .fa-bars {
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
}

.nav.active .hamburger .fa-times {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.main {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  width: 100vw;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main .mainSection {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  opacity: 0;
  visibility: hidden;
  display: none;
  background-color: #2b2a26;
  color: #ebbd34;
  -webkit-transition: .4s linear;
  transition: .4s linear;
}

.main .mainSection.light {
  color: #2b2a26;
  background-color: #fff;
}

.main .mainSection.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: visible;
  -webkit-animation: appear .6s linear forwards;
          animation: appear .6s linear forwards;
}

@-webkit-keyframes appear {
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  100% {
    opacity: 1;
  }
}

.main .mainSection.disappear {
  opacity: 1;
  -webkit-animation: disappear .6s linear forwards;
          animation: disappear .6s linear forwards;
}

@-webkit-keyframes disappear {
  100% {
    opacity: 0;
  }
}

@keyframes disappear {
  100% {
    opacity: 0;
  }
}

.main p, .main ul, .main li {
  font-size: 1.6rem;
  text-align: center;
}

@media (max-width: 1024px) {
  .main p, .main ul, .main li {
    font-size: 1.3rem;
  }
}

.main h3 {
  width: 100%;
  font-size: 2.2rem;
  text-align: center;
}

@media (max-width: 1025px) {
  .main h3 {
    font-size: 1.8rem;
  }
}

.main .mainSection.home h1 {
  width: 100%;
  margin-bottom: 20px;
  padding: 0 20px;
  font-size: 3rem;
  text-align: center;
}

@media (max-width: 1024px) {
  .main .mainSection.home h1 {
    font-size: 2.5rem;
  }
}

.main .mainSection.home p {
  padding: 0 350px;
  text-align: center;
  font-size: 2rem;
}

@media (max-width: 1024px) {
  .main .mainSection.home p {
    padding: 0 20px;
    font-size: 1.5rem;
  }
}

.main .mainSection.home span {
  position: relative;
  padding: 0 5px;
  cursor: pointer;
  border-bottom: 3px solid #ebbd34;
  overflow: hidden;
}

.main .mainSection.home span:hover {
  color: #e6ac02;
  border-bottom-color: #e6ac02;
}

.main .mainSection.about h3 {
  margin-top: 30px;
}

.main .mainSection.about p {
  margin: 30px 0;
}

.main .mainSection.about article {
  width: 50%;
}

@media (max-width: 1025px) {
  .main .mainSection.about article {
    width: 90%;
  }
}

.main .mainSection.about ul {
  width: 90%;
  margin: 0 auto;
  list-style: none;
}

@media (max-width: 1025px) {
  .main .mainSection.about ul {
    width: 100%;
  }
}

.main .mainSection.about li {
  margin: 10px 0;
  text-align: left;
}

.main .mainSection.about li i {
  width: 50px;
}

@media (max-width: 1025px) {
  .main .mainSection.about li i {
    width: auto;
    margin-right: 10px;
  }
}

.main .mainSection.services h3 {
  margin-bottom: 130px;
}

@media (max-width: 1024px) {
  .main .mainSection.services h3 {
    margin-bottom: 90px;
  }
}

.main .mainSection.services .servicesContainer {
  position: relative;
  width: 55%;
  height: 350px;
  border: 10px solid #ebbd34;
  border-radius: 4px;
}

@media (max-width: 1024px) {
  .main .mainSection.services .servicesContainer {
    width: 90%;
    height: 60vh;
    border-width: 5px;
  }
}

.main .mainSection.services .servicesContainer .serviceBtn {
  position: relative;
  top: -72px;
  width: calc(20% - 3px);
  height: 70px;
  border: 8px solid #ebbd34;
  background-color: #2b2a26;
  color: #ebbd34;
  border-radius: 4px;
  font-size: 1.7rem;
  outline: none;
}

.main .mainSection.services .servicesContainer .serviceBtn:focus {
  -webkit-box-shadow: 0 0 1px 2px #ebbd34;
          box-shadow: 0 0 1px 2px #ebbd34;
}

@media (max-width: 1024px) {
  .main .mainSection.services .servicesContainer .serviceBtn {
    border-width: 2px;
  }
}

@media (orientation: portrait) {
  .main .mainSection.services .servicesContainer .serviceBtn {
    height: 55px;
    top: -58px;
  }
}

.main .mainSection.services .servicesContainer .serviceBtn.active {
  background-color: #ebbd34;
  color: #2b2a26;
}

.main .mainSection.services .servicesContainer .serviceDescription {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 90%;
  -webkit-transition: .3s linear;
  transition: .3s linear;
  opacity: 0;
}

@media (max-width: 330px) {
  .main .mainSection.services .servicesContainer .serviceDescription {
    font-size: 16px;
  }
}

.main .mainSection.services .servicesContainer .serviceDescription.fade {
  -webkit-animation: fade 1s linear forwards;
          animation: fade 1s linear forwards;
}

@-webkit-keyframes fade {
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  100% {
    opacity: 1;
  }
}

.main .mainSection.projects h3 {
  margin-bottom: 100px;
}

@media (max-width: 1024px) {
  .main .mainSection.projects h3 {
    margin-bottom: 20px;
  }
}

@media (orientation: portrait) {
  .main .mainSection.projects h3 {
    margin-top: 50px;
  }
}

.main .mainSection.projects .owl-carousel {
  width: 100%;
}

.main .mainSection.projects .owl-carousel .project {
  position: relative;
  height: 350px;
  width: 30vw;
  margin: 0 auto;
  border: 5px solid #ebbd34;
  border-radius: 4px;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  z-index: 1;
  overflow: hidden;
}

@media (max-width: 1024px) {
  .main .mainSection.projects .owl-carousel .project {
    width: 70vw;
    height: 250px;
  }
}

@media (orientation: portrait) {
  .main .mainSection.projects .owl-carousel .project {
    width: 90%;
    height: 400px;
  }
}

.main .mainSection.projects .owl-carousel .project::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 100%;
  padding-left: 20px;
  padding-right: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transform: translateY(-130%);
          transform: translateY(-130%);
  text-align: left;
  background-color: rgba(43, 42, 38, 0.7);
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.main .mainSection.projects .owl-carousel .project:hover::before {
  -webkit-transform: none;
          transform: none;
}

.main .mainSection.projects .owl-carousel .project p {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #ebbd34;
  color: #2b2a26;
  text-transform: uppercase;
  z-index: 2;
}

@media (max-width: 1024px) {
  .main .mainSection.projects .owl-carousel .project p {
    font-size: 1.1rem;
  }
}

.main .mainSection.projects .owl-carousel .project1 {
  background-image: url("../../img/pro1.jpg");
}

.main .mainSection.projects .owl-carousel .project1::before {
  content: "Wieżowiec w Nowym Jorku (w dzielnicy Midtown w okręgu Manhattan) w Stanach Zjednoczonych, jeden z najbardziej rozpoznawalnych symboli nie tylko miasta, ale także całego kraju. Jego nazwa pochodzi od przydomku stanu Nowy Jork, który brzmi właśnie Empire State.";
}

.main .mainSection.projects .owl-carousel .project2 {
  background-image: url("../../img/pro2.jpg");
}

.main .mainSection.projects .owl-carousel .project2::before {
  content: "Most zwodzony w Londynie (mylony niekiedy z sąsiednim Mostem Londyńskim, London Bridge) przeprowadzony przez Tamizę w pobliżu Tower of London, od której bierze swą nazwę. Jeden z najbardziej znanych obiektów w Londynie, zbudowany w stylu wiktoriańskim";
}

.main .mainSection.projects .owl-carousel .project3 {
  background-image: url("../../img/pro3.jpg");
}

.main .mainSection.projects .owl-carousel .project3::before {
  content: "Dwie wieże w Kuala Lumpur, stolicy Malezji, o wysokości 452 metrów, jedne z najwyższych budowli świata. Zachowują one tytuł najwyższych bliźniaczych wież świata oraz budynków zbudowanych przed końcem XX wieku. Dwa drapacze chmur są połączone przejściem (mostem) o długości 58 m na poziomie 41. i 42. piętra.";
}

.main .mainSection.projects .owl-carousel .project4 {
  background-image: url("../../img/pro4.jpg");
}

.main .mainSection.projects .owl-carousel .project4::before {
  content: "Budynek w stylu nowoczesnego ekspresjonizmu, położony na przylądku Bennelong Point w Sydney.";
}

.main .mainSection.projects .owl-carousel .project5 {
  background-image: url("../../img/pro5.jpg");
}

.main .mainSection.projects .owl-carousel .project5::before {
  content: "Wieżowiec w Dubaju, jeden z najwyższych i najbardziej luksusowych hoteli na świecie. Znajduje się w Dubaju, w Zjednoczonych Emiratach Arabskich, i stanowi część kompleksu wypoczynkowego Jumeirah Beach Resort. Budynek hotelu stoi na sztucznej wyspie położonej 280 m od plaży w Zatoce Perskiej. Kształtem przypomina żagiel, ma 321 m wysokości.";
}

.main .mainSection.projects .owl-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
  font-size: 2rem;
}

.main .mainSection.projects .owl-nav .arrowBtn {
  margin: 0 20px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 30px;
  background-color: #ebbd34;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #2b2a26;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

@media (orientation: portrait) {
  .footer {
    height: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer p {
  margin: 0 100px;
  font-size: 18px;
}

@media (max-width: 1024px) {
  .footer p {
    margin: 0 20px;
    font-size: 16px;
  }
}

@media (orientation: portrait) {
  .footer p {
    width: 100%;
    text-align: center;
  }
}
